In [1]:
from math import isnan

import numpy as np
import pandas as pd

In [5]:
# nan 与任何值比较相等都是false
# 所以只能使用函数来比较isnan
print(np.nan == np.nan)
print(np.isnan(np.nan))

False
True

In [6]:
s = pd.Series([np.nan, None, pd.NA])
print(s.isnull())

0    True
1    True
2    True
dtype: bool

In [ ]:
# 加载包含缺失值的数据
# 比如使用pd.read_csv()读取数据时，可以使能keep_default_na=True来将所有的空数据转化为nan
# 也可以使用na_values来将指定的值设置为缺失值，例如np_values = ["kejun", "chen"],就是将"kejun", "chen"设置为nan

In [12]:
# 剔除却是值
# Series中使用的是dropna
s1 = pd.Series([1, None, pd.NA])
print(s1.dropna())

# DataFrame中无法删除一个值，只能删除nan所在的整行或整列
df = pd.DataFrame([[1, 2, np.nan], [2, 4, 8], [99, pd.NA, 100]])
print(df.dropna())
print(df.dropna(axis=1))

# how=any, 只要有一个nan就删除
# how=all，全是nan才删除
# thresh=2，由两个nan才删除

0    1
dtype: object
   0  1    2
1  2  4  8.0
    0
0   1
1   2
2  99

In [20]:
# fillna: 填充缺失值,可以使用字典来针对每一列提供填充值
# inplace=True → 直接修改原 DataFrame 本身
# inplace=False（默认） → 不修改原对象，而是返回一个新的 DataFrame
df = pd.DataFrame([[1, 2, np.nan], [2, 4, 8], [99, np.nan, 100]])
print(df.fillna({1:999, 2:111}, inplace=False))

    0      1      2
0   1    2.0  111.0
1   2    4.0    8.0
2  99  999.0  100.0